@charset "UTF-8";
body{
    width: 500px;
    text-align: center;
}

div, button {
    font-size: 30px;
    margin: 10px;
}

div {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #000;
    background-color: #aaa;
}

div#fade {
    background-color: #aaa;
}

div#slide {
    background-color: #f80;
}
